<nav class="navbar navbar-default navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="model.goToHomepage()"
               class="navbar-brand navbar-top-margin">Speaking Tree</a>
        </div>

        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-top-padding-0"
                       href="#/">Log Out</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/profile/{{model.userid}}"
                       class="navbar-top-padding-0">My Profile</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.goToMyArticles()"
                       class="navbar-top-padding-0">My Articles</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid page-container-layout">
    <div class="container-fluid">

        <h4>Please insert Article Title</h4>
        <input class="form-control margin-bottom-2em"
               type="text"
               ng-model="model.article.articletitle">

        <h4>Please write your article here</h4>
        <text-angular name="textBox"
                      ng-model="model.article.articlecontent"
                      required></text-angular>

        <a class="btn btn-block btn-primary margin-top-1em"
           ng-click="model.updateArticle(model.articleid,model.article)">Update</a>

        <div class="alert alert-danger margin-top-1em text-center"
             ng-show="model.statusMessage">
            {{model.statusMessage}}
        </div>
    </div>
</div>
