<div class="container-fluid">
    <nav id="navbar-properties" class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <button type="button"
                    class=" pt-navbar-toggle navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar pt-icon-bar"></span>
                <span class="icon-bar pt-icon-bar"></span>
                <span class="icon-bar pt-icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Speaking Tree</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-font-layout">
                <li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>
            </ul>

        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="col-lg-4 col-sm-6 col-xs-12 bookshelf-layout">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title centered-text margin-bottom-1em">Book Name</h3>
            </div><!-- end of div class="panel-heading" -->
            <img class="img-responsive margin-bottom-1em" src="http://placehold.it/800x600" alt="CSS3">
            <p class="margin-bottom-1em">90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            <a class="btn btn-block btn-info"
               ng-click="model.bookinfo()">More Info</a>
        </div>
    </div>
            <!--<button type="button"
                    class="btn btn-info btn-block"
                    data-toggle="modal"
                    data-target="#myModal">More Info</button>-->

    <div class="col-lg-4 col-sm-6 col-xs-12 bookshelf-layout">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title centered-text margin-bottom-1em">Book Name</h3>
            </div><!-- end of div class="panel-heading" -->
            <img class="img-responsive margin-bottom-1em" src="http://placehold.it/800x600" alt="CSS3">
            <p class="margin-bottom-1em">90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            <a class="btn btn-block btn-info"
               ng-click="model.bookinfo()">More Info</a>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12 bookshelf-layout">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title centered-text margin-bottom-1em">Book Name</h3>
            </div><!-- end of div class="panel-heading" -->
            <img class="img-responsive margin-bottom-1em" src="http://placehold.it/800x600" alt="CSS3">
            <p class="margin-bottom-1em">90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            <a class="btn btn-block btn-info"
               ng-click="model.bookinfo()">More Info</a>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12 bookshelf-layout">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title centered-text margin-bottom-1em">Book Name</h3>
            </div><!-- end of div class="panel-heading" -->
            <img class="img-responsive margin-bottom-1em" src="http://placehold.it/800x600" alt="CSS3">
            <p class="margin-bottom-1em">90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            <a class="btn btn-block btn-info"
               ng-click="model.bookinfo()">More Info</a>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12 bookshelf-layout">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title centered-text margin-bottom-1em">Book Name</h3>
            </div><!-- end of div class="panel-heading" -->
            <img class="img-responsive margin-bottom-1em" src="http://placehold.it/800x600" alt="CSS3">
            <p class="margin-bottom-1em">90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            <a class="btn btn-block btn-info"
               ng-click="model.bookinfo()">More Info</a>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12 bookshelf-layout">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title centered-text margin-bottom-1em">Book Name</h3>
            </div><!-- end of div class="panel-heading" -->
            <img class="img-responsive margin-bottom-1em" src="http://placehold.it/800x600" alt="CSS3">
            <p class="margin-bottom-1em">90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            <a class="btn btn-block btn-info"
               ng-click="model.bookinfo()">More Info</a>
        </div>
    </div>
</div>
