<body>

<nav class="navbar navbar-default navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/"
               class="navbar-brand navbar-top-margin">Speaking Tree</a>
        </div>

        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-top-padding-0"
                       href="#/profile/{{model.userId}}">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-top-padding-0"
                       href="#/login">Log In</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-top-padding-0"
                       href="#/register">Register</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!--<div class="container-fluid">
    <nav id="navbar-properties" class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <button type="button"
                    class=" pt-navbar-toggle navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar pt-icon-bar"></span>
                <span class="icon-bar pt-icon-bar"></span>
                <span class="icon-bar pt-icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Speaking Tree</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-font-layout">
                <li><a href="#/profile/{{model.userId}}">Profile</a></li>
                <li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>
            </ul>

        </div>
    </nav>
</div>-->
<div class="container-fluid page-container-layout">
<div class="review-list-layout">
    <div class="container-fluid " ng-repeat="book in model.booksreviewedlist" id="review-book-layout">
        <img class="img-responsive img-thumbnail pull-left book-img-layout"
             src="{{book.imgurl}}">
        <h3 class="padding-top-03em">{{book.bookname}}</h3>
        <h5>Author Name : {{book.authorname}}</h5>
        <h5>ISBN : {{book.isbn}}</h5>
        <h5>{{book.dateCreated}}</h5>
        <br/>
        <div class="container-fluid">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>{{book.review}}</p>
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <br>
        </div>
    </div>
</div>
</div>
</body>