<div class="container-fluid">
    <div class="pt_login">
        <h3 class="pt_authTitle">Login</h3>
        <div class="row pt_row-sm-offset-3 pt_socialButtons">
            <div class="row pt_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <a href="/auth/google" class="btn btn-lg btn-block pt_btn-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="hidden-xs">Google+</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt_row-sm-offset-3 pt_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="pt_hrOr">
                <span class="pt_spanOr">or</span>
            </div>
        </div>

        <div class="row pt_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form class="pt_loginForm" action="" autocomplete="off" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text"
                               class="form-control"
                               name="username"
                               placeholder="Username"
                               ng-model="user.username">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group margin-bottom-1em">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password"
                                class="form-control"
                                name="password"
                                placeholder="Password"
                                ng-model="user.password">
                    </div>

                    <a class="btn btn-block btn-primary"
                       ng-click="model.login(user)">Login</a>

                    <div ng-show="model.error"
                         class="alert alert-danger">
                        {{model.error}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>