<nav class="navbar navbar-default navbar-inverse  navbar-fixed-top">
    <div class="container-fluid navbar-color">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="model.goToHomepage()"
               class="navbar-brand navbar-top-margin">Speaking Tree</a>
        </div>

        </div><!-- /.navbar-collapse -->
</nav>

    <div class="container-fluid">
    <div class="pt_login center-content">
        <h3 class="pt_authTitle ">Register</h3>


        <div class="row pt_row-sm-offset-3">
            <div class="col-xs-6 col-sm-6 ">
                <form class="pt_loginForm"
                      action=""
                      autocomplete="off"
                      method="POST"
                      novalidate
                      name="form1">
                    <div ng-show="model.error"
                         class="alert alert-danger alert-box-layout pt_loginForm "
                         role="alert">
                        {{model.error}}
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text"
                               class="form-control"
                               name="username"
                               placeholder="Username"
                               ng-model="userinfo.username"
                               required>
                        <span ng-if="form1.$submitted && form1.username.$error.required">Username is required</span>
                    </div>

                    <div class="input-group margin-bottom-1em">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input  type="text"
                                class="form-control"
                                name="firstname"
                                placeholder="Firstname"
                                ng-model="userinfo.firstname">
                        <span ng-if="form1.$submitted && form1.firstname.$error.required">Firstname is required</span>
                    </div>

                    <div class="input-group margin-bottom-1em">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input  type="text"
                                class="form-control"
                                name="lastname"
                                placeholder="Lastname"
                                ng-model="userinfo.lastname">
                    </div>

                    <div class="input-group margin-bottom-1em">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input  type="password"
                                class="form-control"
                                name="password"
                                placeholder="Password"
                                ng-model="userinfo.password">
                        <span ng-if="form1.$submitted && form1.password.$error.required">Password is required</span>
                    </div>

                    <div class="input-group margin-bottom-1em">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input  type="password"
                                class="form-control"
                                name="Confirmpassword"
                                placeholder=" Please confirm your password here"
                                ng-model="userinfo.password1">
                        <span ng-if="form1.$submitted && form1.Confirmpassword.$error.required">Please confirm password</span>
                    </div>

                    <div class="input-group margin-bottom-1em">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="email"
                                class="form-control"
                                name="email"
                                placeholder=" Email Address"
                                ng-model="userinfo.email">
                        <span ng-if="form1.$submitted && form1.email.$error.required">Email is required</span>
                    </div>

                    <div class="input-group margin-bottom-1em">
                        <form>
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <select class="form-control"
                                name="role"
                                id="selectrole"
                                ng-model="userinfo.role">
                            <option>Reader</option>
                            <option>Author</option>
                        </select>
                            <span ng-if="form1.$submitted && form1.role.$error.required">Please select your choice</span>
                        </form>
                    </div>

                    <button type="submit"
                            class="btn btn-block btn-lg btn-warning"
                            ng-click="model.registerUser(userinfo)">Register</button>
                    <!--<a class="btn btn-block btn-lg btn-warning"
                        ng-click="model.registerUser(userinfo)">Register</a>-->
                </form>
            </div>
        </div>
    </div>
</div>
</div>